#section-projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container{
  width: 900px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

@media (max-width: 1000px){
  .projects-container{
    width: 90%;
    justify-content: center;
  }
}

@media (max-width: 610px){
  .projects-container{
    display: flex;
    flex-direction: column;
  }
}